body {
    margin: 0;
    background: url('https://media.giphy.com/media/3o6nVbXk5IU8p7D63m/giphy.gif');
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}